# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.Python
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/
ENV/

# Testing & coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
*.coveragerc

# Serverless Framework
.serverless/
.build/

# serverless-python-requirements cache
.requirements.zip
requirements/

# AWS
.aws/
*.pem

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Exclude serverless env
node_modules/
*.json
.serverless
.pytest_cache
.pip-cache